.row
  .col-lg-6
    .panel.panel-primary
      .panel-heading.center Checkout Page
      .panel-body
        = form_for :article,url: checkout_articles_path, html: {id: 'checkout_form'} do |f|
          .form-group
            = f.label :Order_ID
            = f.text_field :order_id, class: 'form-control', value: "OD#{Faker::Number.number(10)}"
          .form-group
            = f.label :Amount
            = f.text_field :amount, class: 'form-control', value: Faker::Commerce.price
          .form-group
            = f.label :Currency
            = f.text_field :currency, class: 'form-control', value: 'INR'
          .form-group
            = f.label :Product_Description
            = f.text_field :product_desc, class: 'form-control', value: Faker::Commerce.product_name
          .form-group
            = f.label :User_Email
            = f.text_field :user_email, class: 'form-control', value: 'pratiks@rssoftware.co.in'

          = f.submit 'Proceed To Checkout', class: 'btn btn-success'
          %button#clear.btn.btn-default{:type => "button"} Clear
#results

:javascript

  $(function(){
    $('#clear').click(function(){
      $('#checkout_form')[0].reset();
    });
  });
