:css
  .btn-checkout{
    color: #fff;
    background-color: #1E5D84;
    border-color: #1E5D84;
  }

.row
  .col-lg-6
    .panel.panel-primary
      .panel-heading.center Checkout Page
      .panel-body
        = form_for :article,url: checkout_articles_path, html: {id: 'checkout_form'} do |f|
          .form-group
            = f.label :Order_ID
            = f.text_field :order_id, class: 'form-control', value: "OD#{Faker::Number.number(10)}"
          .form-group
            = f.label :Amount
            = f.text_field :amount, class: 'form-control', value: Faker::Commerce.price + 100
          .form-group
            = f.label :Currency
            = f.text_field :currency, class: 'form-control', value: 'INR'
          .form-group
            = f.label :Product_Description
            = f.text_field :product_desc, class: 'form-control', value: Faker::Commerce.product_name
          .form-group
            = f.label :User_Email
            = f.text_field :user_email, class: 'form-control', value: 'pratiks@rssoftware.co.in'
          .form-group
            .row
              .col-xs-12
                = f.check_box :send_email_check_box
                Send url via mail
                %br/
          = f.submit 'Proceed to Checkout', class: 'btn btn-checkout'
#results
